* { 
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
   
}
/*header*/
h1{
    text-align: center;
    margin: 100px auto;
    font-size: 40px;
}
/*list*/
#list{
    padding: 10px 0px;
    margin:  0px;
}
.list{
    display: flex;
    font-size: 18px;
    margin: 100px auto;
    flex-direction: column;
    width: 30rem;
    justify-items: center;
    
}

 ul li{
    
    list-style-type: none;

}

.list-item{
    border-bottom: solid 3px rgb(83, 83, 83);
    align-content: center;
    padding: 15px;
}

.list-item i, p{
    display: inline;
    color: rgb(83, 83, 83);
    justify-content: space-between;
}

.list-item i{
    display: flexbox;
    padding:9px;    
    float:right;
    cursor: pointer;

    border-radius: 10px;
}
.list-item i:hover{
    color: white;
    background-color: rgb(95, 95, 95);

}

button{
    text-align: center;
    width: 150px;
    height: 50px;
    border: none;
    font-size:18px;
    cursor:pointer;
    border-radius: 10px;
    background-color:white;
    color:#737373;
}
button i {
    margin: 10px;
}
button:hover{
    background-color:  rgb(107, 107, 107);
    color:  white;
}
button::after{
    background-color: rgb(147, 147, 147) ;
}

/*add new item section*/

#add-bttn{
    display: flex;
    margin:10px auto;
    justify-content: center;
    width: auto;
    
}

#add-bttn button{
    width: 400px;
}

.todo-form{
    justify-items: center;
    display: flex;
    margin: 0px auto;
    width: 100%;
    border-radius: 10px;
}


input{
    color:  rgb(83, 83, 83) ;
    background-color: white;
    border: none;
    border-bottom: solid 3px rgb(83, 83, 83);
    align-content: center;
    padding: 15px;
    width:40rem;

}


input[type=text]:focus {
    border: none;
    border-bottom: solid 3px rgb(83, 83, 83);
    outline: none;
    background-color: white;
}

/*utilities*/
.hidden{
    display:none;

}